@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");

html {
  height: 100%;
  width: 100%;
  background-color: rgb(46, 58, 71);
  color: white;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Montserrat", monospace;
}

main {
  height: 100%;
  width: 100%;
}

.main-container h1 {
  font-weight: bold;
  padding: 1rem 0.5rem;
  margin: 0;
  border-bottom: 1px solid palegreen;
  background-color: rgb(30, 38, 48);
}

.row {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  width: 50%;
}

.column h3 {
  text-align: center;
  font-family: "Allison", cursive;
  font-size: 3rem;
  font-weight: lighter;
  margin: 0;
  padding: 0rem 4rem;
}

.calc {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-template-areas:
    "column1"
    "column1";
  grid-gap: 0.6rem;
}

.calc__div {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.calc__div label[class="calc__div-amount"] {
  font-family: "Roboto Mono", sans-serif;
  text-decoration: underline palegreen solid;
  text-underline-offset: 4px;
}

.buttons {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.buttons button {
  flex: 1;
  background-color: #13a53a;
  color: white;
  font: inherit;
  border: 1.5px solid #71fa95;
  margin: 0 1px;
  padding: 0.3rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.buttons button:hover,
.buttons button:active {
  background-color: white;
  color: #0e4f1f;
}

.buttons button[class="out"] {
  border: 1.5px solid #ff4040;
  background-color: rgb(141, 17, 17);
  color: white;
}

.buttons button[class="out"]:active,
.buttons button[class="out"]:hover {
  background-color: red;
  color: white;
}
