html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: arial, helvetica;
  background: rgb(179, 185, 194);
}

.main-container {
  width: 100%;
  height: 100%;
  margin: 0 25px 0 25px;
}
.row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.column {
  flex: 50%;
}

.index-main-container {
  height: 100%;
  width: 100%;
  /* display: flex; */
}
.index-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.index-page-columm {
  height: 60%;
  width: 20%;
  margin: 0 96px 0 96px;
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  background-color: rgb(255, 253, 253);
  border-radius: 5%;
}

.index-page-columm:hover {
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.22);
}

#renderaddJ,
#renderaddD {
  /* border: 2px solid green; */
  /* border-radius: 5%; */
  border-style: none;
  transition: 00.7s;
}

#renderaddJ:hover,
#renderaddD:hover {
  background-color: aqua;
}

.pagination {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  background-color: hsl(0, 5%, 96%);
  padding: 20px;
}
.pagination .tableList {
  min-height: 250px;
  text-indent: 20px;
}
.tableList .objectBlock {
  position: relative;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.pageButton {
  border: 1px solid black;
  padding: 5px;
}
.clickPageNumber {
  background-color: lightgrey;
  padding: 5px;
  margin-left: 2px;
  margin-right: 2px;
}
.pagination-block {
  text-align: center;
  width: 100%;
}
.pagination-block span {
  display: inline-block;
}
.pagination-block .pageButton {
  background-color: grey;
  color: white;
}
.pagination-block span:hover {
  cursor: pointer;
}
.opacity {
  opacity: 0.5;
}
.outline-none {
  outline: none;
  user-select: none;
}
